body {
  background-color: #fafafa;
  padding-top: 70px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#main {
  flex: 1;
  margin-bottom: 24px;
}
.jumbotron {
  background-color: #167c80;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.jumbotron p {
  font-size: 18px !important;
}
p,
li {
  font-size: 16px;
  line-height: 1.5;
}
.card-content-1 p,
.card-content-1 li {
  font-size: 16px;
  line-height: 1.5
}
.card-title {
  font-weight: 400;
  margin: 0;
}
.card-title a {
  transition: all 0.3s ease-out;
}
.card-title a:hover {
  color: #167c80 !important;
}
.card h6 {
  margin-bottom: 0;
}
.container .text-muted {
  margin: 14px 0;
  font-size: 14px !important;
}
.navbar {
  transition: box-shadow 0.2s ease-out;
}
.navbar-white {
  background: white !important;
  color: black !important;
  padding-top: 10px !important;
  box-shadow: none !important;
}
.navbar-shadow {
  box-shadow: 0 1px 8px rgba(0,0,0,.3) !important;
}
.nav li a {
  background-color: transparent !important;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  background-color: rgba(0, 0, 0, 0.04);
}
.icon-bar {
  color: #167c80;
}
.btn-white {
  color: #167c80 !important;
}
.footer {
  width: 100%;
  background-color: #EEEEEE;
}
.footer-img {
  height: 18px;
  margin-top: 16px;
}
#search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9e9e9e;
}
#search-input::-moz-placeholder { /* Firefox 19+ */
  color: #9e9e9e;
}
#search-input:-ms-input-placeholder { /* IE 10+ */
  color: #9e9e9e;
}
#search-input:-moz-placeholder { /* Firefox 18- */
  color: #9e9e9e;
}

@media (max-width: 768px) {

  .footer {
    text-align: center;
    float: none
  }

}

.alert.alert-warning a {
  color: #000; }
