[access]
	inheritFrom = PROJECT-web-services
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Wiki Editors
	label-Verified = -1..+1 group Wiki Editors
	submit = group Head Developers
	submit = group Wiki Editors
	abandon = group Wiki Editors
	editTopicName = group Wiki Editors
	exclusiveGroupPermissions = submit
[project]
	description = This project has moved to Gitlab: http://gitlab.com/lineageos/infra/wiki\n\
\n\
Please submit a pull request there for any changes going forward.
	state = read only
