<!-- <div markdown="span" class="alert alert-info" role="alert"> -->
<style type="text/css">
.tg .tg-A{text-align:right}
.tg .tg-B{text-align:left}
.tg .tg-C{text-align:right}
.tg .tg-D{text-align:left}
</style>

<table>
	<colgroup>
		<col style="width: 15%">
		<col style="width: 35%">
		<col style="width: 15%">
		<col style="width: 35%">
	</colgroup>
  <tr>
    <td class="tg-A">Vendor:</td>
    <td class="tg-B">{{site.data.devices[page.device].vendor}}</td>
    <td class="tg-C">Screen:<br></td>
    <td class="tg-D">{{site.data.devices[page.device].screen}}, {{site.data.devices[page.device].screen_tech}}</td>
  </tr>
  <tr>
    <td class="tg-A">Name:</td>
    <td class="tg-B">{{site.data.devices[page.device].name}}</td>
    <td class="tg-C">Resolution:</td>
    <td class="tg-D">{{site.data.devices[page.device].screen_res}}, {{site.data.devices[page.device].screen_ppi}} PPI<br></td>
  </tr>
  <tr>
    <td class="tg-A">Codename:</td>
    <td class="tg-B">{{site.data.devices[page.device].codename}}</td>
    <td class="tg-C">Battery:</td>
    <td class="tg-D">{{site.data.devices[page.device].battery}}</td>
  </tr>
  <tr>
    <td class="tg-A">Release:</td>
    <td class="tg-B">{{site.data.devices[page.device].release}}</td>
    <td class="tg-C">SoC:</td>
    <td class="tg-D">{{site.data.devices[page.device].soc}}</td>
  </tr>
  <tr>
    <td class="tg-A">SD-card:</td>
    <td class="tg-B">{{site.data.devices[page.device].sdcard}}</td>
    <td class="tg-C">GPU:</td>
    <td class="tg-D">{{site.data.devices[page.device].gpu}}</td>
  </tr>
  <tr>
    <td class="tg-A">Type:</td>
    <td class="tg-B">{{site.data.devices[page.device].type}}</td>
    <td class="tg-C">Clock:</td>
    <td class="tg-D">{{site.data.devices[page.device].cpu_freq}}</td>
  </tr>
  <tr>
	<td class="tg-A">Bluetooth:</td>
    <td class="tg-B">{{site.data.devices[page.device].bluetooth}}</td>
    <td class="tg-C">RAM:</td>
    <td class="tg-D">{{site.data.devices[page.device].ram}}</td>
  </tr>
  <tr>
	<td class="tg-A">WiFi:</td>
    <td class="tg-B">{{site.data.devices[page.device].wifi}}</td>
    <td class="tg-C">CPU cores:</td>
    <td class="tg-D">{{site.data.devices[page.device].cpu_cores}}</td>
  </tr>
</table>
<!-- </div> -->
