<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<title>{{ page.title }} | {{ site.site_title }}</title>
<link rel="stylesheet" href="{{ "css/syntax.css" | prepend: "/" | prepend: site.url }}">


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="{{ "css/modern-business.css" | prepend: "/" | prepend: site.url }}">
<link rel="stylesheet" href="{{ "css/lavish-bootstrap.css" | prepend: "/" | prepend: site.url }}">
<link rel="stylesheet" href="{{ "css/customstyles.css" | prepend: "/" | prepend: site.url }}">
<link rel="stylesheet" href="{{ "css/theme-lineage.css" | prepend: "/" | prepend: site.url }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{{ "js/jquery.navgoco.min.js" | prepend: "/" | prepend: site.url }}"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<script src="{{ "js/toc.js" | prepend: "/" | prepend: site.url }}"></script>
<script src="{{ "js/customscripts.js" | prepend: "/" | prepend: site.url }}"></script>

<link rel="icon" sizes="16x16 32x32" href="{{ "images/favicons/favicon.ico" | prepend: "/" | prepend: site.url }}">
<!--[if IE]><link rel="shortcut icon" href="{{"images/favicons/favicon.ico"}}"><![endif]-->
<link rel="apple-touch-icon-precomposed" href="{{ "images/favicons/favicon-152.png" | prepend: "/" | prepend: site.url }}">
<meta name="msapplication-TileColor" content="#167C80">
<meta name="msapplication-TileImage" content="{{ "images/favicons/favicon-144.png" | prepend: "/" | prepend: site.url }}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: "/" | prepend: site.url }}">
