<!-- Navigation -->
<nav class="navbar navbar-white navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed navbarButton" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ "index.html" | relative_url }}">{{site.topnav_title}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- entries without drop-downs appear here -->
                {%- for entry in site.data.topnav.topnav %}
                {%- for item in entry.items %}
                {% if item.external_url -%}
                <li><a href="{{item.external_url}}" target="_blank">{{item.title}}</a></li>
                {%- elsif page.url contains item.url %}
                <li class="active"><a href="{{ item.url | relative_url }}">{{item.title}}</a></li>
                {%- else %}
                <li><a href="{{ item.url | relative_url }}">{{item.title}}</a></li>
                {%- endif %}
                {%- endfor %}
                {%- endfor %}
                <!-- entries with drop-downs appear here -->
                <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
                {% for entry in site.data.topnav.topnav_dropdowns -%}
                {%- for folder in entry.folders %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ folder.title }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for folderitem in folder.folderitems %}
                        {% if folderitem.external_url %}
                        <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
                        {% elsif page.url contains folderitem.url %}
                        <li class="dropdownActive"><a href="{{ folderitem.url | relative_url }}">{{folderitem.title}}</a></li>
                        {% else %}
                        <li><a href="{{ folderitem.url | relative_url }}">{{folderitem.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %}

                <li>
                    <form id="search-demo-container" class="navbar-form navbar-right" role="search">
                      <div class="form-group">
                        <input type="text" id="search-input" class="form-control" placeholder="{{site.data.strings.search_placeholder_text}}">
                      </div>
                      <ul id="results-container"></ul>
                    </form>
                    <script src="{{ "js/jekyll-search.js" | relative_url }}" type="text/javascript"></script>
                    <script type="text/javascript">
                        SimpleJekyllSearch.init({
                            searchInput: document.getElementById('search-input'),
                            resultsContainer: document.getElementById('results-container'),
                            dataSource: '{{ "search.json" | relative_url }}',
                            searchResultTemplate: '<li><a href="{url}" title="{{page.title | replace: "'", "\"}}">{title}</a></li>',
                            noResultsText: '<li><a href="#">{{site.data.strings.search_no_results_text}}</a></li>',
                            limit: 10,
                            fuzzy: true,
                        })
                    </script>
                    <!--end search-->
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</nav>
