{%- assign device = site.data.devices[page.device] -%}
<div class="alert alert-danger" role="alert">
  <div class="alert-icon">
    <i class="material-icons">warning</i>
  </div>
  <div class="alert-text" markdown="span">
    <b>Warning:</b> Depending on which recovery you use, you may be prompted to install additional apps and services.
    We strongly advise you to opt out of installing these, as they may cause your device to bootloop,
    as well as attempt to access or corrupt your data.
  </div>
</div>
