---
layout: default
title: Devices
permalink: devices/
redirect_from: devices.html
search: exclude
---
<div class="container page">

  <h1>{{ page.title }}</h1>

  Rows with a lower opacity are no longer officially supported and the pages exist for reference only.<br/><br/>

  {% include toc.html %}

{% assign devices = "" | split: " " %}
{% for device in site.data.devices %}
{% assign devices = devices | push: device[1] %}
{% endfor %}

<script type="text/javascript">
<!--
function toggleDiscontinued()
{
  $('.discontinued').toggle();
  $("table.device").each(function () {
    vendor = $(this).attr("vendor");
    if ($(this).find("tbody > tr:visible").length == 0 && $(this).is(":visible")) {
      $("h2[vendor=" + vendor + "]").hide();
      $(this).hide();
    } else {
      $("h2[vendor=" + vendor + "]").show();
      $(this).show();
    }
  });
}
toggleDiscontinued();
-->
</script>

<input type="checkbox" onClick="toggleDiscontinued()">Toggle visibility of discontinued devices</input>

{% assign sorted = devices | sort_natural: 'name' | sort_natural: 'vendor' %}
{% assign lastVendor = "" %}

{% for device in sorted %}
{% if device.vendor != lastVendor %}
{% assign lastVendor = device.vendor %}

<h2 class="h3" id="{{ device.vendor | slugify }}" vendor="{{ device.vendor | slugify }}">{{ device.vendor}}</h2>

<table class="table device" vendor="{{ device.vendor | slugify }}">
  <thead>
  <tr>
    <th scope="col" class="first"><b>Device</b></th>
    <th scope="col"><b>Codename</b></th>
    <th scope="col" class="last"><b>Type</b></th>
  </tr>
  </thead>
{% endif %}
{% if device.vendor == "OnePlus" %}{% assign deviceName = device.vendor | append: ' ' | append: device.name %}
{% else %}{% assign deviceName = device.name %}{% endif %}
{% assign url = "devices/" | append: device.codename | relative_url %}
{%- if device.channels contains "discontinued" %}{% assign class="discontinued" %}
{%- else %}
{%- assign class="" %}
{%- endif %}
  <tr class="{{ class }}">
    <th scope="row" onClick="location.href='{{ url }}'"><a href="{{ url }}">{{ deviceName }}</a></th>
    <td onClick="location.href='{{ url }}'"><a href="{{ url }}">{{ device.codename }}</a></td>
    <td>{{ device.type | capitalize }}</td>
  </tr>
{% if sorted[forloop.index].vendor != lastVendor %}</table>{% endif %}
{% endfor %}
</div>
