<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</head>
<body id="page-top">
{% include topnav.html %}
<!-- Page Content -->
<div class="container">
  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <div class="col-md-8">
      {{content}}
    </div>
    <!-- device info template -->
    <div class="col-md-4">
      <br />
      {% include deviceinfo.html %}
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->

{% include footer.html %}

</body>
</html>
